.pageFull {
    width: 100%;
    height: 100%;
    left: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageOne {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.titleBlock {
    grid-row: 2;
    place-self: center;
}

.menu {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuItem {
    color: black;
    text-decoration-line: none;
    cursor: grab;
}

.menuItem:hover {
    text-decoration-line: underline;
}

.pageTwo {
    background-color: black;
    color: rgb(245, 245, 245);
}

.about {
    width: 50%;
}

.aboutBody {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.aboutBodyText {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.getStarted {
    align-self: center;
    color: white;
}